
<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> <span> my </span> services </h1>

    <div class="box-container">

        <div class="box tilt">
            <i class="fas fa-code"></i>
            <h3>web development</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-paint-brush"></i>
            <h3>graphic design</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-bullhorn"></i>
            <h3>seo marketing</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-envelope"></i>
            <h3>email marketing</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-mobile"></i>
            <h3>Responsive designs</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fab fa-wordpress"></i>
            <h3>wordpress</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span> my </span> portfolio </h1>

    <div class="box-container">

        <div class="box tilt">
            <img src="static/images/img-1.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="static/images/img-2.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="static/images/img-3.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="static/images/img-4.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="static/images/img-5.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

        <div class="box tilt">
            <img src="static/images/img-6.jpg" alt="">
            <div class="content">
                <a href="#" class="btn">learn more</a>
            </div>
        </div>

    </div>
    
</section>

<!-- portfolio section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span> my </span> blogs </h1>

    <div class="box-container">
        
        <div class="box tilt">
            <img src="static/images/blog-img-1.jpg" alt="">
            <h3> blogs title goes here </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi libero, in rerum earum. Dolor, quibusdam!</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box tilt">
            <img src="static/images/blog-img-2.jpg" alt="">
            <h3> blogs title goes here </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi libero, in rerum earum. Dolor, quibusdam!</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box tilt">
            <img src="static/images/blog-img-3.jpg" alt="">
            <h3> blogs title goes here </h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi libero, in rerum earum. Dolor, quibusdam!</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- blogs section ends -->